   

    *{
        box-sizing:border-box;
    }
    
    html,body{
        padding:0px;
        margin:0px;
    }
    .tools{
        background: lightblue;
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
    } 
.content {
    background: white;
    width: 100%;
    height: calc(100vh - 100px);
    }
    .tool-box{
        display: flex;
        justify-content: space-evenly;
        width: 100%;

    }
    .tool{
        height: 50px;
        position: relative;

    }
    .tool img{
       
        height: 100%;

    }
    .tool-options{
        position: absolute;
        width: 135px;
        height: 90px;
        background: lavender;
        border-radius: 10px;
        top: 61px;
        left: -50px;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .pencil-color{
        display: flex;
        justify-content: space-evenly;
        width: 100%;

    }
    .pencil-color div {
        height: 25px;
        width: 30px;
        border-radius: 20px;
    }
    .red
    {
        background: red;
    }
    .yellow{
        background: yellow;

    }
    .blue{
        background: blue;
    }
    .black
    {
        background: black;
    }
    .hide{
        display: none;
    }
    .active-tool
    {
        background: lavender;
        border-radius: 10px;
        height: 55px;
        padding: 10px
    }
    #sticky{

    }
    .sticky{
        position: absolute;
    top: 50%;
    left: 50%;
    width:263px

    }
    .sticky-header{
        height: 30px;
        background: lightsteelblue;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
    }
    .minimize{
        height: 20px;
        width: 20px;
        background: lightgreen;
        border-radius: 10px;
        margin-left: 5px;
    }

    
    .close
    {
        height: 20px;
        width: 20px;
        background: red;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 10px;
    }
    .sticky-content
    {

    }
    #sticky-box
    {
        outline: none;
        border: 1px solid lightgray;
    }
    